body {
  background-color: #095d66;
  text-align: center;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  margin-top: 6rem;
  margin-bottom: 6%;
  font-size: 3rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  gap: 20px;
  height: 480px;
  position: relative;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;    
  gap: 14rem;    /* Empty space between red and yellow buttons */
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 20%;
  height: 12.4rem;
  width: 12.4rem;
}

#green {
  background-color: rgb(47, 197, 39);
}

#red {
  background-color: rgb(243, 31, 31);
}

#yellow {
  background-color: yellow;
}

#blue {
  background-color: blue;
}


